:root {
  --clr-blue-dianne: #274c5b;
  --clr-acapulco: #7eb693;
  --clr-golden-sand: #efd372;
  --clr-alto: #d4d4d4;
  --clr-alto-light: #e0e0e0;
  --clr-alabaster: #f9f8f8;
  --clr-alabaster-light: #fafafa;
  --clr-saltpan: #eff6f1;
  --clr-abbey: #525c60;

  // opacity
  --clr-white-90: #ffffffe5;

  // fonts
  --font-roboto: "Roboto", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font-yellowtail: "Yellowtail", cursive, sans-serif;
}